

#icona{
    margin-bottom: 15px;
}

#login{
    background-color: black;
    text-emphasis-color: white;
}
#card{
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbar{
    background-color: black;
}

#navbar-text{
    color:white;
    
}
